body {
  font-family: "Poppins", sans-serif;
  background-color: #f9ded8;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bg.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 180px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

.headings {
  margin-bottom: 110px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 20px 40px;
  border-radius: 3px;
  margin-top: -18px;
  display: inline-block;
}

main {
  background-color: white;
}
main .porto-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.3;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
  margin-top: 17px;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #272044;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
}

.grid {
  display: grid;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 65px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
footer a:hover {
  cursor: pointer;
  color: bisque;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 10px 20px;
    font-size: 8px;
  }
  .headings {
    margin-bottom: 40px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .grid-2-columns {
    grid-gap: 30px;
  }
  .grid-3-columns {
    grid-gap: 0;
  }
  section {
    padding: 30px;
  }
}
